<div class="main-wrap">
  <div class="small-form">
    <h1 class="form__title">Forgot Password</h1>
    <form action="forgot_confirmation" method="get">
      <label class="input__label">
        Email
        <input
          type="email"
          name="email"
          id="email"
          placeholder="youremail@email.com"
          required
        />
      </label>
      <input class="submit-button" type="submit" value="Send recovery email" />
    </form>
  </div>
</div>

<style>
  .main-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
