<div class="forgot-confirm">
  <h1 class="form__title">Recovery email sent!</h1>
  <p class="forgot-confirm_text">
    You should receive instructutions to reset your password in your email
  </p>
</div>

<style>
  .main-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
