<script
  src="https://kit.fontawesome.com/269b88550f.js"
  crossorigin="anonymous"
></script>

<section class="hero">
  <div class="hero_container">
    <div class="hero_info">
      <h1 class="hero_info-title">The place where you get that job</h1>
      <p class="hero_info-description">
        With our Machine learning algorithm you will get that job in no time, We
        promise you! Just give us the money and we will take care of it.
      </p>
      <a class="hero_btn" href="./singup">Create your account now</a>
    </div>
    <div class="hero_img">
      <img src="./images/hero.png" alt="" />
    </div>
  </div>
</section>

<section class="job-list-desc">
  <div class="job-list-desc_container">
    <div class="job-list-desc_text-wrapper">
      <h2 class="job-list-desc_title">Find your next tech job</h2>
      <p class="job-list-desc_text">
        Our Machine learning algorithm is so good that it’s even illegal in some
        countries. Join us to use our barelly legal algorithm that is actually a
        group of interns that work on our basement.
      </p>
      <p class="job-list-desc_text">
        We have a job for you, no matter your background or previous experience.
        Is sending random memes through chat your only skill? That’s ok, we got
        you, our Rock Star Meme Curator role is here for you.
      </p>
    </div>
    <div class="job-list-desc_items">
      <div class="job-list-desc_item">
        <div class="job-list-desc_info">
          <img
            class="job-list-desc_info-logo"
            src="./images/landing-able.png"
            alt=""
          />
          <h4 class="job-list-desc_info-title">Software Engineer</h4>
          <div class="job-list-desc_info-location">
            <span>Able - Lima</span>
            <img src="./images/landing-flag.png" alt="" />
          </div>
        </div>
        <div class="job-list-desc_details">
          <img src="./images/landing-monetization.png" alt="" />
          <a href="#">ReactJS</a>
          <span>Today</span>
        </div>
      </div>
      <div class="job-list-desc_item">
        <div class="job-list-desc_info">
          <img
            class="job-list-desc_info-logo"
            src="./images/landing-able.png"
            alt=""
          />
          <h4 class="job-list-desc_info-title">Software Engineer</h4>
          <div class="job-list-desc_info-location">
            <span>Able - Lima</span>
            <img src="./images/landing-flag.png" alt="" />
          </div>
        </div>
        <div class="job-list-desc_details">
          <img src="./images/landing-monetization.png" alt="" />
          <a href="#">ReactJS</a>
          <span>Today</span>
        </div>
      </div>
      <div class="job-list-desc_item">
        <div class="job-list-desc_info">
          <img
            class="job-list-desc_info-logo"
            src="./images/landing-able.png"
            alt=""
          />
          <h4 class="job-list-desc_info-title">Software Engineer</h4>
          <div class="job-list-desc_info-location">
            <span>Able - Lima</span>
            <img src="./images/landing-flag.png" alt="" />
          </div>
        </div>
        <div class="job-list-desc_details">
          <img src="./images/landing-monetization.png" alt="" />
          <a href="#">ReactJS</a>
          <span>Today</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="testimonials_left-arrow">
    <img src="./images/left-arrow.png" alt="" />
  </div>
  <div class="testimonials_container">
    <img src="./images/landing-testimonials.png" alt="" />
    <p class="testimonials_test">
      “Amazing experience, I love it a lot. Thanks to the team I got that Job,
      great!”
    </p>
    <span class="testimonials_author">Lassy Chester</span>
    <span class="testimonials_author-job">Art Director</span>
  </div>
  <div class="testimonials_right-arrow">
    <img src="./images/right-arrow.png" alt="" />
  </div>
</section>

<section class="contact">
  <div class="contact_container">
    <div class="contact_info">
      <div class="contact_info-top">
        <span>Contacts</span>
        <h2 class="contact_info-title">Get in Touch</h2>
        <p class="contact_info-text">
          If you are not sure yet, shoot us a message!
        </p>
      </div>
      <div class="contact_info-bottom">
        <p class="contact_info-email">hello@getthatjob.com</p>
        <p class="contact_info-address">
          Jose Galvez 692, 7th Floor. The Board
        </p>
      </div>
    </div>
    <form action="#" class="contact_form">
      <input
        aria-label="email"
        type="email"
        name="email"
        id="email"
        placeholder="Your email"
        required
      />
      <input
        aria-label="name"
        type="text"
        name="name"
        id="name"
        placeholder="Your name"
        required
      />
      <textarea
        aria-label="messages"
        name="messages"
        id="messages"
        placeholder="Messages"
        required
      ></textarea>
      <button class="contact_btn" type="submit">
        <i class="fas fa-envelope"></i>
        <span>Submit message</span>
      </button>
    </form>
  </div>
</section>
