<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/victor.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/zamir.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/jorge.css">
</head>
<body>

<%= erb :"../components/navbar" %>
<%= yield %>
<%= erb :"../components/footer" %>
</body>