<div class="small-form">
  <h1 class="form__title">Sign Up</h1>
  <form action="signup2" method="get">
    <label class="input__label">
      Email
      <input
        type="email"
        name="email"
        id="email"
        placeholder="youremail@email.com"
        required
      />
    </label>
    <label class="input__label">
      Password
      <input
        type="password"
        name="password"
        id="password"
        placeholder="********"
        required
        minlength="8"
      />
    </label>
    <label class="input__label">
      Confirm Password
      <input
        type="confirm_pw"
        name="confirm_pw"
        id="confirm_pw"
        placeholder="********"
        required
        minlength="8"
      />
    </label>
    <input class="submit-button" type="submit" value="Submit" />
  </form>
  <a href="/forgot_password" class="small-form__link">Forgot password?</a>
</div>
<style>
  .main-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
