@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Overpass:wght@300;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 10px;
  background-color: #f7fafc;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  height: 100%;
}

.main-wrap {
  min-height: calc(100vh - 49.7rem);
}

.container {
  max-width: 1031px;
  margin: 0 auto;
}

.main-px {
  padding-left: 2rem;
  padding-right: 2rem;
}

.main-py {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-mb {
  margin-bottom: 2rem !important;
}

.main-mt {
  margin-top: 2rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

@media (max-width: 768px) {
  html {
    font-size: 8.5px !important;
  }
  
  .main-wrap {
    min-height: calc(100vh - 42rem);
  }
}
