@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Global CSS */

html {
  font-size: 10px;
}

body {
  background-color: #f7fafc;
}

.main-px{
  padding-left: 2rem;
  padding-right: 2rem;
}

.main-py{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-mb{
  margin-bottom: 2rem !important;
}

.main-mt{
  margin-top: 2rem;
}

/* View CSS */

.job-list__filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.job-list__filters-left {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}

.job-list__filters input,
.job-list__select {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.06);
  border: 0;
  border-radius: 4px;
}

.job-list__select {
  position: relative;
  margin-bottom: 1rem;
  margin-right: 1rem;
  height: fit-content;
  padding: 1.1rem 4.8rem 1.1rem 0.8rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #4a5568;
  background: #ffffff;
  text-align: left;
}

.job-list__select ul {
  list-style: none;
}

.job-list__select::before{
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 0.4rem;
  left: 0;
  top: 100%;
  z-index: 1;
}

.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 0.4rem);
  background: #ffffff;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem;
  width: 100%;
  z-index: 2;
}

.submenu li{
  padding: 0.9rem 1.2rem;
}

.submenu li:hover{
  background-color:  rgba(25, 63, 230, 0.164);
}

.job-list__select:after {
  content: ">";
  font: 2rem "Consolas", monospace;
  font-weight: bold;
  color: #4a5568;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 1.4rem;
  top: 1rem;
  position: absolute;
  pointer-events: none;
  transition: all 0.2s linear;
}

.select-alt {
  box-shadow: none;
  background-color: transparent;
  padding-right: 4rem;
}

.job-list__select:hover.job-list__select:after {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.job-list__select:hover .submenu {
  display: block;
}

.job-list__select:hover .submenu li {
  animation: 0.2s appear linear both;
}

@keyframes appear{
  0%{
    opacity: 0;
    padding: 0 1.2rem;
    height: 0;
  }
  50%{
    opacity: 0;
    padding: 0.45 1.2rem;
  }
  100%{
    opacity: 1;
    padding: 0.9rem 1.2rem;
    height: fit-content;
  }
}

.job-list__title {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 4.4rem;
  margin-top: 6.4rem;
  margin-bottom: 2rem;
  color: #000000;
}

.search-job {
  margin-right: 1rem;
  margin-bottom: 1rem;
  grid-area: search-job;
}

.search-job::before {
  content: "\f002";
  font-family: "FontAwesome";
  color: #565d69;
  position: absolute;
  font-size: 1.8rem;
  padding: 1rem;
  z-index: 1;
}

.search-job input {
  position: relative;
  padding: 1.1rem 1rem 1.1rem 3.5rem;
  width: 28.3rem;
  height: 4rem;
}

.search-job input::placeholder {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #4a5568;
}

#filter_country {
  grid-area: filter-country;
}

#filter_type {
  grid-area: filter-type;
}

#filter_salary {
  grid-area: filter-salary;
}

#filter_experience {
  grid-area: filter-experience;
}

/* Item CSS */

.job-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.06);
  align-self: center;
  margin: 2rem 0;
  padding: 1.6rem 2rem;
}

.job-item__desc {
  display: grid;
  grid-template-areas:
    "job-logo job-title"
    "job-logo job-location";
}

.job-item__logo {
  grid-area: job-logo;
  display: inline-flex;
  align-items: center;
  margin-right: 1.5rem;
}

.job-item__logo img {
  width: 3.6rem;
  height: 3.6rem;
}

.job-item__title {
  grid-area: job-title;
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #4a5568;
}

.job-item__state {
  font-size: 1rem;
  line-height: normal;
  color: #ffffff;
  background-color: #ff0d0d;
  text-transform: uppercase;
  padding: 0.1rem 0.3rem;
  margin-left: 1.2rem;
}

.job-item__location {
  grid-area: job-location;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #000000;
}

.job-item__flag {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.9rem;
}

.job-item__info {
  display: flex;
}

.job-item__tags {
  list-style: none;
}

.job-item__tags a {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-color: rgba(60, 45, 255, 0.69);
  padding: 0.2rem 0.5rem;
}

.job-item__tags li {
  display: inline-flex;
  margin: 0 0.5rem;
}

.salary-icon {
  display: inline-block;
  font-size: 1.4rem;
  color: #fefefe;
  background-color: #45c8a1;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin-right: 0.7rem;
}

.job-item__since {
  margin-left: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #718096;
}

.main-button {
  display: block;
  width: fit-content;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  padding: 1rem 2rem;
  background-color: #3c2dff;
  border: 0.2rem solid #3c2dff;
  border-radius: 0.4rem;
  margin: 0 auto;
}

/* Mobile version */
@media (max-width: 768px) {
  /* Global CSS */

  html {
    font-size: 8.5px;
  }

  /* Job list CSS */
  .job-list__filters {
    flex-flow: column;
    align-items: flex-end;
  }

  .job-list__filters-left {
    display: grid;
    width: 100%;
    grid-gap: 1rem;
    grid-template-areas:
      "search-job search-job"
      "filter-country filter-type"
      "filter-salary filter-experience";
  }

  .search-job,
  .search-job input {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .job-list__select,
  .job-list__select select {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .select-alt {
    width: fit-content;
  }

  .job-list__select:after {
    top: 0.8rem;
  }
  /* Job Item CSS */
  .job-item {
    flex-flow: column;
  }

  .job-item__desc {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4rem;
    grid-template-areas:
      "job-title job-logo"
      "job-location job-logo";
  }

  .job-item__logo {
    margin: 0;
    justify-content: flex-end;
  }

  .job-item__info {
    margin: 2rem 0;
    width: 100%;
    justify-content: flex-start;
  }
}
