<footer>
    <div class="container main-px main-py">
        <nav class="foot">
            <div class="foot-section">
                <span class="foot-title">Jobs</span>
                <ul class="foot-links">
                    <li><a href="/jobs">Software Engineer</a></li>
                    <li><a href="/jobs">Fontend Engineer</a></li>
                    <li><a href="/jobs">Codeable Graduate</a></li>
                    <li><a href="/jobs">Backend Engineer</a></li>
                    <li><a href="/jobs">Meme Master</a></li>
                    <li><a href="/jobs">University Dropouts</a></li>
                </ul>
            </div>
            <div class="foot-section">
                <span class="foot-title">Company</span>
                <ul class="foot-links">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Carrers</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="foot-section">
                <span class="foot-title">Support</span>
                <ul class="foot-links">
                    <li><a href="#">Docummentation</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Mobility Guide</a></li>
                    <li><a href="/faq">FAQs</a></li>
                </ul>
            </div>
            <div class="foot-section">
                <span class="foot-title">Legal</span>
                <ul class="foot-links">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Information</a></li>
                    <li><a href="#">GDPR Commitment</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <span class="copyright">
                ©2020 Get That Job
    </span>
</footer>