<footer>
    <nav class="foot">
        <div class="foot-section">
            <h1 class="foot-title">Jobs</h1>
            <ul class="foot-links">
                <li><a href="#">Software Engineer</a></li>
                <li><a href="#">Fontend Engineer</a></li>
                <li><a href="#">Codeable Graduate</a></li>
                <li><a href="#">Backend Engineer</a></li>
                <li><a href="#">Meme Master</a></li>
                <li><a href="#">University Dropouts</a></li>
            </ul>
        </div>
        <div class="foot-section">
            <h1 class="foot-title">Company</h1>
            <ul class="foot-links">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Carrers</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="foot-section">
            <h1 class="foot-title">Support</h1>
            <ul class="foot-links">
                <li><a href="#">Docummentation</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Mobility Guide</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        <div class="foot-section">
            <h1 class="foot-title">Legal</h1>
            <ul class="foot-links">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Information</a></li>
                <li><a href="#">GDPR Commitment</a></li>
            </ul>
        </div>
    </nav>
</footer>