<div class="job-item">
  <div class="job-item__desc">
    <div class="job-item__logo">
      <img src="./images/able.png" alt="logo" />
    </div>
    <div class="job-item__title">
      <a href="/job_detail">Software Engineer</a>
      <span class="job-item__state">new</span>
    </div>
    <div class="job-item__location">
      Able - Lima
      <img class="job-item__flag" src="./images/peru-flag.png" alt="peru" />
    </div>
  </div>
  <div class="job-item__info">
    <div class="salary-icon"><a href="#"><i class="fa fa-usd" aria-hidden="true"></i></a></div>
    <ul class="job-item__tags">
      <li><a href="#">ReactJS</a></li>
      <li><a href="#">ReactJS</a></li>
    </ul>
    <div class="job-item__since">
      Today
    </div>
  </div>
</div>
