<header>
    <nav class="top-menu">
        <div class="logo">
            <img src="../images/profile.png" alt="">
            <h1>GetThatJob</h1>
        </div>
        <i class="fas fa-bars fa-2x"></i>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#" class="signin-btn">Sign In</a></li>
            <li><a href="#" class="createaccount-btn">Create an Account</a></li>
        </ul>
    </nav>
</header>