<header>
    <div class="container main-px">
        <nav class="top-menu">
            <div class="logo">
                <a href="/">
                    <img src="../images/profile.png" alt="">
                </a>
                <a href="/" class="logoa">
                    <spam>GetThatJob</spam>
                </a>
            </div>
            <i class="fas fa-bars fa-2x"></i>
            <ul>
                <li><a href="/help">Help</a></li>
                <li><a href="/companies">Companies</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/login" class="signin-btn">Sign In</a></li>
                <li><a href="/signup" class="createaccount-btn">Create an Account</a></li>
            </ul>
        </nav>
    </div>
</header>